<<<<<<< HEAD


/* colour scheme
 
 darkest blue: #004C9C
 middle blue: #0068D6
 lightest blue: #1988FF

 darkest orange: #D38600
 lightest orange: #FFA200

*/



=======
>>>>>>> 6f43e47173f5ee6f97f6f268bdc4bb203a31557e
/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}

<<<<<<< HEAD
header {
    color: #0068D6;
=======

header {
    color: skyblue;
>>>>>>> 6f43e47173f5ee6f97f6f268bdc4bb203a31557e
    text-align: center;
}


<<<<<<< HEAD

.subHeader { 
    color: #0068D6;
}

li strong { color:#D38600;}

=======
>>>>>>> 6f43e47173f5ee6f97f6f268bdc4bb203a31557e
footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}
<<<<<<< HEAD
img.godenPlaatjes {
    border-style: ridge;
    border-color: #FFA200;
    border-width: 3px;
    margin-top: 10px;
    margin-bottom: 15px;
}
=======
>>>>>>> 6f43e47173f5ee6f97f6f268bdc4bb203a31557e

.smalltext {
    font-size: 0.7em;
}

a {
<<<<<<< HEAD
    color: #FFA200;
=======
    color: skyblue;
>>>>>>> 6f43e47173f5ee6f97f6f268bdc4bb203a31557e
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
<<<<<<< HEAD

#subList-content {

transform: translateX(-11%), translateY(20%);
top:-950%;

display: none;
color: white;
text-align: center;

text-decoration: none;
background-color: #0068D6;
width:150px;


  
  z-index: 13;

}

#subList-background {
    display: none;
    transform: translateX(-11%);

    top: -1500%;

    background-color: #0068D6;

z-index: 12;
    position:fixed;
    width:150px;
    height: 2000px;
}

#subList {
    position: fixed;
    transform: translateX(-108%);
    top: 80%;
    z-index: 11;
    width: 118px;
}

#subList:hover #subList-background {
  display: block;
}
#subList:hover #subList-content {
  display: block;
}

nav ul {
    display:flex;
    flex-direction: column;
    align-content: flex-start;
    transform: translateX(-108%);
    

    list-style-type: none;
    margin: auto;
    padding: 0;

    overflow: hidden;
    position:fixed;
    width:150px;  
    z-index: 10;
}
#List { top: 100px;}

#list-background {
    display:flex;
    justify-content: left;
    transform: translateX(-108%);

    top: 0%;

    background-color: #1988FF;

z-index: 9;
    position:fixed;
    width:150px;
    height: 1000px;
}



nav li a, #subList {
=======
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
>>>>>>> 6f43e47173f5ee6f97f6f268bdc4bb203a31557e
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
<<<<<<< HEAD

  background-color: #0068D6;
}

nav li a:hover {
    background-color: #004C9C;
}

nav li a.active {
    background-color: #D38600;
}
=======
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}




>>>>>>> 6f43e47173f5ee6f97f6f268bdc4bb203a31557e
